#main-header{
    background-color: green;
    font-size: 25px;
    padding:20px;
    color:white;
}

.form-control{
    padding:15px;
    width:250px;

}

.container{
    border: px solid #333333bb;
}
.title{
    font-size: 25px;
    font-weight: bold;

}
#item{
    padding:10px;
}
.submit{
    padding:10px;
   color:white;
    background-color: rgba(0, 0, 0, 0.596);
}

.list-group-item{
    border:1px solid #3333;
    padding:15px;
    margin-right:250px;
    list-style: none;
}
.btn-del{
    float:right;
    background-color: red;
}